<h1>Pokemon Catalog</h1>

<div class="table-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>

      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="types">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> 
          <ng-container *ngFor="let showtype of element.types">
              {{showtype}} <br/>
          </ng-container>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="abilities">
      <th mat-header-cell *matHeaderCellDef> Ability </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let showability of element.abilities">
            {{showability}} <br/>
        </ng-container>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> <img [src]="element.imageUrl" /> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row (click)=GoToDetails(row) *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="footer">
  <mat-paginator fixed #paginator  showFirstLastButtons [pageSize] = "pageSize"
  [pageIndex]="pageIndex"  [disabled] = "isPaginatorEnabled" [length] = 1000 (page)="pageEvent = GetData($event)"></mat-paginator>
  </div>
</div>