<h1>Pokemon Details</h1>

<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px" > 
    <div fxLayout="column" fxFlex="30" >
        <img id="currentPhoto" src="{{generalPokemonData.imageUrl}}" alt="Pokemon" width="200" height="200"  
        onerror="this.onerror=null; this.src='https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg'"> 
    </div>

    <div fxLayout="column" fxFlex="60" > 
        <p>Name: {{generalPokemonData.name}}</p>
        <p>Type: {{generalPokemonData.types}}</p>
        <p>Weight: {{generalPokemonData.weight}}</p>
        <p>Abilities: {{generalPokemonData.abilities}}</p>
        <p>Description: {{detailedPokemonData.description}}</p>
        <p>Evolutions: {{detailedPokemonData.evolutionsNames}}</p>
    </div>
</div>

<div>
    <div fxLayout="row" fxFlex="10">
        <button class="button" mat-raised-button color="primary" (click)="onBack()">Volver</button>
    </div>
</div>